

  .inputline {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  #Sresult,
  #Length {
    font-size: xx-large;

  }



  input::placeholder {
    font-size: small;
  }